<%= render 'layouts/navbar' %>
<div class="container">

  <h1>About</h1>
  <p>This is a project for Ada Developers Academy.</p>

  <h1>Tech Stack</h1>
    <ul>
      <li>React</li>
      <li>Rails</li>
      <li>Ruby</li>
      <li>D3</li>
    </ul>
</div>
