<%= render 'layouts/navbar' %>
<div class="container">

  <h1>About Gratus</h1>
  <p>Gratus is free, open-source website to help elicit a daily sense of gratitude for its users.</p>
  <p>This site represents my capstone project for <a href="http://www.adadevelopersacademy.org">Ada Developers Academy</a>, a year-long intensive training program for women transitioning into software development.</p>

  <h2>Tech Stack</h2>
    <ul>
      <li>React</li>
      <li>Rails</li>
      <li>Ruby</li>
      <li>D3</li>
    </ul>

  <img src="../../assets/github.png" alt="Github Logo" height="50"><a href="http://www.github.com/trowbrsa/gratus">Link to project on Github</a>
  <h3>Thank you!</h3>
  A huge thank you to the many many people who supported me through this endeavor. This includes my amazing instructors, Kari and Charles, my technical mentor, Brian, and my incredible classmates.
</div>
