<div class="background_image"></div>

<%= render 'layouts/navbar' %>

<h1>Gratus</h1>

<div>
  <i class="material-icons">add_circle</i> <%= link_to 'Add a Gratitude', gratitudes_path %>
</div>

<div>
  <i class="material-icons">favorite</i><%= link_to 'Find Inspiration', events_path %>
</div>

<div>
  <i class="material-icons">date_range</i><%= link_to 'View Calendar', gratitudecalendar_path %>
</div>
