<div class="display">
</div>

<div class="imagestockpile">
  <% @photo_detail.each do |photo| %>
    <div class="owl-carousel">
      <span><img class="lazyOwl" data-src="<%= photo["url"] %>"/></span>
      <br/>
      <%= photo["title"] %>
      <%= photo["tags"] %>
    </div>
  <% end %>
</div>

<div class="btn btn-default" id="next-button">NEXT</div>
