<%= render 'layouts/navbar' %>
<div class="container">

  <h3>All Gratitudes</h3>



<ul>
  <%= @gratitudes %>
  <% @gratitudes.keys.each do |key| %>
    <%= key %>
    <%@gratitudes.values.each do |value| %>
      <%= value %>
    <% end %>
  <% end %>
</div>
