<%= render 'layouts/navbar' %>
<div class="container">

  <h3>Group gratitudes by date</h3>

<ul>
  <% @gratitudes.each do |grad| %>
    <b><%= grad.created_at %></b>
    <%= grad.description %>
    <br>
  <% end %>
</div>
