<h1>Add 3 (or more!) things you are grateful for:</h1>

<%= react_component 'Gratitudes', {data: @gratitudes } %>

<h2>Or, click on the below button to get inspired!</h2>

<%= link_to "Get inspired!", events_path %>
