@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  font-family: 'Nobile', sans-serif;
  height: 100%;
  width: 100%;
}

.background_image {
  background-image: url('nasa1.jpg');
  background-repeat: no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.imagestockpile {
  background-color: white;
  text-align: center;

}

.next {
  display: inline-block;
  background-color: white;
}

.prev {
  display: inline-block;
  background-color: white;
}
.slider {
  background-color: white;
}

.date-filled {
    visibility: hidden;
}



@import './responsive-carousel';
@import './responsive-carousel.slide';
