@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


html, body {
  font-family: 'Nobile', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #efefef;
  color: #4c4c4c;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.sign_in_background_image {
  background: image-url('sign-in.jpg');
  background-repeat: no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.background-grad {
  background: image-url('gray_jean.png');
  // background-repeat: no-repeat center center;
  // background-size: cover;
  height: 100%;
  width: 100%;
}

.home_background_image {
  background: image-url('nasa1.jpg');
  background-repeat: no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #efefef;
  border: 1px solid #efefef;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.imagestockpile {
  background-color: white;
  text-align: center;

}

.next {
  display: inline-block;
  background-color: white;
}

.prev {
  display: inline-block;
  background-color: white;
}
.slider {
  background-color: white;
}

.date-filled {
    visibility: hidden;
}

.material-icons {
  font-size: 40px;
}

.fa {
  color: #990000;
}

img {
      max-width: 100%;
    }

.splash {
  background: image-url('splash_1_57op.jpg');
  background-repeat: no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: #F5F5F5;
}

p.splash-header {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #F5F5F5;
  text-align: center;
  padding: 20px;
}

p.splash-description {
  font-size: 50px;
  color: #F5F5F5;
  text-align: center;
}

.form-group{
  border-radius: 5px;
  color: #424242;
  letter-spacing: 2px;
  background-color: none;
}

.current-user {
  text-align: center;
}

.user-input {
  color: #F5F5F5;
  font-weight: lighter;
  font-family: 'Arial';
}

.new-user {
  text-align: center;
  color: #F5F5F5;
  text-align: center;
  background-color: none;
  font-size: 20px;
}

.registration-bg {
  background: image-url('party-lights.jpg');
  background-repeat: no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .full-calendar {
    font-size: 9px;
 }
}

@media only screen and (min-width: 481px) and (max-width: 565px) {
  .full-calendar {
    font-size: 11px;
 }
}

.img-responsive {
  vertical-align: center;
}

.inspo-description {
  text-align: center;
}



@import './responsive-carousel';
@import './responsive-carousel.slide';
