@import "bootstrap-sprockets";
@import "bootstrap";
@import "owl.carousel";
@import "owl.theme";

.display {
  width: 100px;
  height: 300px;
}

#slider .item{
  margin: 3px;
}
#slider .item img{
  display: block;
  width: 100%;
  height: auto;
}

.item {
  background-color: red;
}
