$baseFontFamily: 'Raleway', sans-serif !default;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@sansFontFamily: 'Raleway', sans-serif;
@serifFontFamily: 'Raleway', sans-serif;

html, body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #efefef;
  color: #4c4c4c;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.sign_in_background_image {
  background: image-url('sign-in.jpg');
  background-repeat: no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.table th, .table td {
     border-top: none !important;
     padding-top: 0px !important;
 }

 .big-stat {
   font-size: 24px;
   padding: 0px !important;
 }

.grad-stat {
  padding: 0px !important;
}

.github-img {
  content:url("github.png");
  height: 50px;
}

.table-grad > tbody > tr > th {
  padding: 0px !important;
}

.home-background-image {
  background: image-url('splash_1_57op.jpg');
  background-repeat: no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #efefef;
  border: 1px solid #efefef;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.imagestockpile {
  background-color: white;
  text-align: center;

}

.home-styling {
  text-align: center;
  color: #CCC;
}

.home-nav {
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

.next {
  display: inline-block;
}

.prev {
  display: inline-block;
  background-color: white;
}
.slider {
  background-color: white;
}

.date-filled {
    visibility: hidden;
}

.material-icons {
  font-size: 40px;
}

.fa {
  color: #990000;
}

img {
      max-width: 100%;
    }

.splash {
  background: image-url('slash_2_dark.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #F5F5F5;
  background-attachment: fixed;
}

p.splash-header {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #F5F5F5;
  text-align: center;
  padding: 20px;
}

p.splash-description {
  font-size: 50px;
  color: #F5F5F5;
  text-align: center;
}

.form-group{
  border-radius: 5px;
  color: #424242;
  letter-spacing: 2px;
  background-color: none;
}

.current-user {
  text-align: center;
}

.user-input {
  color: #F5F5F5;
  font-weight: lighter;
  font-family: 'Arial';
}

.new-user {
  text-align: center;
  color: #F5F5F5;
  text-align: center;
  background-color: none;
  font-size: 20px;
}

a.new-user-link {
  font-weight: bold;
}

.registration-bg {
  background: image-url('party-lights.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}


.grad-tracker {
  margin-right: auto;
  margin-left: auto;
  display: block;
  color: #CCC;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

.table {
  margin: 0 auto;

}

a.calendar-link {
  text-align: center;
}

@media only screen and (max-width: 320px) {
  .full-calendar {
    font-size: 5px;
  }
  p.splash-description {
    font-size: 32;
  }
}

@media only screen and (min-width: 321px) and (max-width: 565px) {
  .full-calendar {
    font-size: 11px;
 }
}

@media only screen and (min-width: 566px) {
  .splash {
    background-repeat: no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .registration-bg {
    background-repeat: no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}


.img-responsive {
  vertical-align: center;
}

.inspo-description {
  text-align: center;
}


@import './responsive-carousel';
@import './responsive-carousel.slide';
